.bg1{background-color: transparent;}
#map {position: fixed;width: 100%;top: 45px;bottom: 0px;line-height: 200px;text-align: center;background: #FFFFFF;z-index: 1;}
.m-operation{padding: 10px 0 0 0; text-align: center;}
